body {
    margin: 0;
    padding: 0;
    background: #060c21;
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.user {
    position: relative;
    width: 700px;
    height: 800px;
    background: #060c21;
    padding: 30px;
    line-height: 30px;
    margin: 30px;
    margin-left: 300px;
}

.user::before,
.user::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 30s linear infinite;
}

.user::after {
    filter: blur(20px);
}

@keyframes animate {

    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 200% 0;
    }
}

.styleH2 {
    color: white;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0;
        width: 100%;
    }
}

.styleBtn2 {
    width: 90%;
    height: 100px;
    background: #060c21;
    display: flex;
    color: white;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 33px;
}

.styleBtn2 {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.styleBtn2:hover {
    box-shadow: 0 0 40px 40px #4682B4 inset;
}

.btnClick {
    width: 700px;
    height: 830px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
}
.btnPostStyle {
    width: 200px;
    height: 20px;
    background: none;
    border: teal solid 3px;
    color: white;
}

